html,body{
	margin:0;
	padding:0;
}
body{
	margin-top: -16px;
	
}
@font-face{
	font-family:"MarkWebPro-Black";
	src:url(../fonts/MarkWebPro-Black.ttf)format("ttf");
	font-weight:normal;
	font-style:normal
}
header{
	float: left;
	width: 100%;
	background-color: transparent;
	border-top: 4px solid #326D92;
	font-size: 14px;
	text-transform: uppercase;
	padding-top: 20px;
}

#navbar{
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 1170px;
	max-width: 750px;
}
#logo{
	float: left;
	margin-top: 8px;
}
#logo img{
	display: block;
	height: 28px;
	vertical-align: middle;
	border:0 none;
}
#signin{
	width: auto;
	border-top: 0px none;
	box-shadow: none;
	float: right;
}
#signin ul {
	list-style: none;
}
#signin a{
	text-decoration: none;
	color: #A6A6A6;
}
#content{
	background: url("../img/back.jpg");
	height: 100vh;
	width: 100%;
	background-size: cover;
}
#centre{
	width: 750px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	

}
#texte{
	float: left;
	width: 100%;
	min-height: 1px;
	padding-left: 15px;
	position: relative;
	text-align: center;
	padding-right: 15px;
}
#texte p{
	color:white;
	font-size: 20px;
}
h1{
	font-size: 3.2em;
	font-family: "Calibri", sans-serif;
	line-height: 1.1;
	color: #FFF;
	margin-top: 1em;
	text-transform: uppercase;
	font-weight: bold;
}
#inputgo{
	float: left;
	width: 100%;
	min-height: 1px;
	padding-left: 15px;
	position: relative;
	text-align: center;
	padding-right: 15px;
}
#mail{
	width:270px;
	height:40px;
	border-radius: 0px;
	border: transparent;
	text-align: center;
}
#inputgo p{
	color:white;
	font-size: 20px;
}
#go{
	height:42px;
	border-radius: 0px;
	border: transparent;
	background: none repeat scroll 0% 0% #F8DA4A;
	width:60px;
	margin-left: -5px;
	cursor: pointer;
}
.hvr-fade {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  color: white;
}
#footer{
	border-top: medium none #F4F5F7;
	color: #A6A6A6;
	font-size: 14px;
	padding: 40px 0px;
}
#contentfoot{
	width: 750px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
}
#contentfoot a{
	text-decoration:none;
	color: #A6A6A6;
}